@mixin form{
    background-color: $shadow;
    border-radius: 10px;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;
    
        input {
            width: 70%;
        }
    
        label {
            font-weight: bold;
        }
}

@mixin bulle {
    display: flex;
    justify-content: center;
    background:linear-gradient(to bottom, $dark-purple, $dark-red);
    padding: 5px 0px;
    border-radius: 10px;
}