#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 60px;
  height: 100vh;
  background-color: #121212;
  color: #FFFFFF;
  background-image: url("./assets/lokerroom.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

button {
  background-color: #121212;
  color: #FFFFFF;
  font-weight: bold;
}

.navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #121212;
}
.navbar h1 {
  background-image: linear-gradient(to right, #ec1818, #9d00ff);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}
.navbar .right {
  width: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  background-color: #333333;
  border-radius: 10px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.login input {
  width: 70%;
}
.login label {
  font-weight: bold;
}

.register {
  background-color: #333333;
  border-radius: 10px;
  width: 350px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}
.register input {
  width: 70%;
}
.register label {
  font-weight: bold;
}

.allChatPage {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: 10%;
}
.allChatPage .lobbyMenu {
  width: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #333333;
}
.allChatPage .lobbyMenu form {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.allChatPage .lobbyMenu .lobbyList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 70%;
}
.allChatPage .lobbyMenu .lobbyList .lobbyCard {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #6e0d88, #750d0d);
  padding: 5px 0px;
  border-radius: 10px;
}
.allChatPage .chatRoom {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.allChatPage .chatRoom .conv {
  background-color: #333333;
  height: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.allChatPage .chatRoom .conv .bubble {
  display: flex;
  justify-content: center;
  background: linear-gradient(to bottom, #6e0d88, #750d0d);
  padding: 5px 0px;
  border-radius: 10px;
  background: linear-gradient(to bottom, #6e0d88, #9d00ff);
  padding: 5px 5px;
  width: fit-content;
  margin-left: 20px;
  margin-top: 20px;
}
.allChatPage .chatRoom .newMessage {
  height: 20%;
}
.allChatPage .chatRoom .newMessage input {
  width: 87%;
  height: 50%;
  background-color: whitesmoke;
}
.allChatPage .chatRoom .newMessage button {
  height: 55%;
  width: 12%;
}

.link {
  text-decoration: none;
  background-image: linear-gradient(to right, #9d00ff, #ec1818);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
}

#jeLesBrise {
  text-decoration: none;
  color: #FFFFFF;
}